<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
    <script>
        function toSettings(){
            window.location.href="settings";
        }
        function toJobApplications(){
            window.location.href="https://www.linkedin.com/mypreferences/d/download-my-data";
        }
        function toLogin(){
            window.location.href="/"
        }
    </script>
    <title>Document</title>
</head>
<body style="background-color: cadetblue;">
    <!--qua c'è una home con delle opzioni-->
    <h1 style="text-align: center;">home</h1>
    <!--la prima opzione, opzionale in realtà perché la puoi impostare te, è accedere al profilo linkedin-->
    <!--dovresti navigare su linkedin, quindi un collegamento direttamente a Linkedin che lo imposti te nelle configurazioni-->
    <div style="display: flex; flex-direction: column;">
        <button type="button" id="linkedin" name="linkedin" onclick="toJobApplications()">link candidature</button>
    <!--qua bo, dovrei semplicemente fare prima una tabella su un db (facendo un sondaggio e pensando ai campi da inserire) e poi immettere i dati nella pagina. Nella stessa ci dovrebbero essere dei campi per inserire la candidatura e i vari contatti-->
    <!--Oppure, cosa che potrebbe mettere più ad agio gli utenti, è permettere di importare il proprio excel o di usare quello che ha online-->
        <button type="button" id="excel" name="excel" onclick="">tabella candidature</button>
        <button onclick="toLogin()" type="submit">esci</button>
    </div>
</body>
</html>