<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
    <title>Document</title>
    <script>
        function toCandidature(){
            //apirà un popup in cui si inserirà il file archivio da linkedln per poi, grazie a una funzione su python. verrà decompresos il file
            window.location.href="";
        }
        function toImportExcel(){
            //sarà un popup
            window.location.href="";
        }
    </script>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <h1>Che cosa vuoi fare?</h1>
	
        <div style="display: flex; flex-direction: column;">
            <form action='\options', method="POST" enctype="multipart/form-data">
                <button onclick="document.getElementById('fileInput').click()" accept="text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">importare un proprio excel</button>
	            <input type="file" id="fileInput" style="display:none;" name="excel" />
                
            </form>
        <!--secondo form-->        
        <form action='\options', method="POST" enctype="multipart/form-data">
	        <button onclick="document.getElementById('fileInput2').click()">Usare il file di archivio Linkedin scaricato</button>
	        <input type="file" id="fileInput2" style="display:none" name="archive" accept="text/csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
	        <input type="submit" value="Upload" style="display:none;" />
        </form>
	    </div>	
    </div>
</body>
</html>
