<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
    <title>Document</title>
    <script>
        function toCandidature(){
            //apirà un popup in cui si inserirà il file archivio da linkedln per poi, grazie a una funzione su python. verrà decompresos il file
            window.location.href="";
        }
        function toImportExcel(){
            //sarà un popup
            window.location.href="";
        }
    </script>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <h1>Che cosa vuoi fare?</h1>
        <div style="display: flex; flex-direction: column;">
            <button>importare un proprio excel</button>
            <button onclick="toCandidature()">usare il file di archivio scaricato</button>
        </div>
    </div>
</body>
</html>