<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
    <title>candidature</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; border-radius: 10px; border-style: solid;">
        <form action="/candidature" method="get">
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <input type="text" name="company" placeholder="company name">
                <button type="submit">Cerca</button>
            </div>
            </form>
        
        <!--campi della tabella-->
        <div style="justify-content: space-evenly; display: flex; flex-direction: row; padding: 10px;">
            <!--prima colonna-->
            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div>Application_date</div>
                <!--primo campo-->
                
            {% for AppDate in applicationDates %}
            <div style="margin-top: 5px;">{{ AppDate[0] }}</div>
            {% endfor %}
            </div>

            <!--seconda colonna-->
            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div >Contact_email</div>
                <!--secondo campo-->
                {%for ContEmail in contactsEmail%}
                <div style="margin-top: 5px;">{{ ContEmail[0] }}</div>
                {%endfor%}
            </div>

            <!--terza colonna-->
            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div>Company_name</div> 
                <!--terzo campo-->
                {%for CompName in companyNames%}
                <div style="margin-top: 5px;">{{ CompName[0] }}</div>
                {%endfor%}
            </div>

            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div >Job_Title</div>
                <!--quarto campo-->
                {% for JobTitle in jobtitles %}
                <div style="margin-top: 5px;">{{ JobTitle[0] }}</div>
                {% endfor %}
            </div>
            
            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div >Job_Url</div>
                <!--quinto campo-->
                {% for JobUrl in urlJobs %}
                <div style="margin-top: 5px;">{{ JobUrl[0] }}</div>
                {% endfor %}
            </div>
            
            <div style="display: flex; flex-direction: column; margin-right: 8px;">
                <div >Resume_Name</div>
                <!--sesto campo-->
                {% for ResName in resumeNames%}
                <div style="margin-top: 5px;">{{ ResName[0] }}</div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</body>
</html>