<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>candidature</title>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <!--campi della tabella-->
        <div style="display: flex; flex-direction: row;">
            <div>Application_date</div>
            <div>Contact_email</div>
            <div>Company_name</div>
            <div>Job_Title</div>
            <div>Job_Url</div>
            <div>Resume_Name</div>
        </div>
        <!--Celle della tabella-->
        <div style="display: flex; flex-direction: row;">
            <!--primo campo-->
            <div></div>
    
            <!--secondo campo-->
            <div></div>
            
            <!--terzo campo-->
            <div></div>

            <!--quarto campo-->
            <div></div>

            <!--quinto campo-->
            <div>{{ for i in }}</div>

            <!--sesto campo-->
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>